# === Sistema Operativo ===
# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk


# === Node.js / JavaScript ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Build & Coverage
build/
dist/
coverage/
lib-cov/
*.lcov
.nyc_output/
.rpt2_cache/
.rts2_cache_*/
.eslintcache
.stylelintcache

# Lock & Cache
.cache/
.parcel-cache/
.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# TypeScript (si se usa en el futuro)
*.tsbuildinfo

# === Entornos ===
.env
.env.local
.env.*.local

# === IDE / Editores ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# === Documentación y Estáticos ===
.vuepress/dist
.docusaurus/
.temp/
.next/
out/
.nuxt/
.webpack/
.svelte-kit/
.serverless/
.dynamodb/
public/dist/
public/build/

# === Husky / Lint-Staged ===
.husky/_/
.husky/*.log

# === Logs y PID ===
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# === Otros ===
node_repl_history
*.tgz
.lock-wscript
.yarn-integrity
.vscode-test
tmp/
temp/
# Personaliza aquí si agregas más directorios
